.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  border: 1px solid blue;
  padding: 8px;
  background-color: green;
  font: inherit;
  display: block;
  margin: 2px auto;
  cursor: pointer;
}

.Button:hover {
  background-color: lightgreen;
  color: black;
}

.Button.Red {
  background-color: red;
}

.Button.Red:hover {
  background-color: pink;
  color: black;
}
